section:last-child {
    margin-bottom: 0;
}

main > section {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--pico-block-spacing-vertical);
    column-gap: var(--pico-block-spacing-horizontal);
}

main > section > article {
    margin-bottom: 0;
}

article {
    text-align: center;
}

article section:nth-child(1) {
    width: 15rem;
    height: 15rem;
    border-radius: var(--pico-border-radius);
    overflow: hidden;
    align-content: center;
}

article section:nth-child(2) p {
    margin-bottom: 0;
}

section svg {
    width: 6rem;
    color: var(--pico-muted-color);
}

article section:nth-child(1) p {
    color: var(--pico-muted-color);
}