html {
    contain: layout;
}

body > img {
    position: absolute;
    inset: 0;
    min-width: max(100vw, 200vh);
    height: max(100vh, 50vw);
    transform: translate(calc(50vw - 50%), calc(100vh - 100%));
    z-index: -1;
    filter: blur(10px) opacity(0.5);
}

main {
    text-align: center;
    padding: 4rem !important;
}

main * {
    color: var(--pico-contrast);
}

main > svg {
    width: 14rem;
    height: 14rem;
    margin-bottom: var(--pico-spacing);
}

main > h1 {
    font-size: 300%;
}

main > p:last-child {
    font-size: 120%;
    margin-top: 4rem;
}
