:root {
    --spacing-small: 0.4rem;
    --font-size-adjust: 1;
}

html {
    overflow-y: scroll;
    padding: 0 calc(2 * var(--pico-spacing) + 3rem);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: calc(1em * var(--font-size-adjust));
}

body > main, body > header, body > footer {
    contain: layout;
}

ul {
    padding: 0;
}

ul li {
    margin-bottom: 0;
}

ul li::before, ul li::marker {
    content: none;
}

button > svg {
    display: block;
    width: 1em;
    height: 1em;
}

body > header {
    position: sticky;
    top: 0;
    display: flex;
    gap: var(--pico-spacing);
    z-index: 1;
    user-select: none;
}

body > header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    background: color-mix(in srgb, var(--pico-background-color) 90%, transparent);
    backdrop-filter: blur(1.6rem);
    transform: translateX(-50%);
    z-index: -1;
}

body > header > nav {
    flex-basis: 100%;
}

body > header > nav > ul {
    margin: 0 !important;
    width: 100%;
    display: flex;
}

body > header > nav > ul > li {
    display: block;
    padding: 0;
}

body > header > nav > ul > li:first-child {
    margin-right: var(--pico-spacing);
}

body > header > nav > ul > li:first-child > a {
    text-decoration: none;
    display: block;
    border-radius: var(--pico-border-radius);
    font-size: 200%;
    margin: 0;
}

body > header > nav > ul > li:first-child > a > h1 {
    color: var(--pico-color);
    text-underline-offset: 0;
    display: flex;
    padding: 0;
    gap: var(--pico-spacing);
    align-items: center;
    margin-bottom: 0;
}

body > header > nav > ul > li:first-child > a > h1 > svg {
    width: 2em;
    height: 2em;
}

body > header > nav > ul > li:not(:first-child, :nth-child(2), :nth-child(5)) {
    padding-left: 1ch;
}

body > header > nav > ul > li:nth-child(5) {
    flex-grow: 1;
    text-align: right;
}

body > header > nav > ul > li:not(:first-child, :nth-child(2), :nth-child(5))::before {
    content: '\2502';
    margin-right: 1ch;
    width: 1ch;
    text-align: center;
}

body > main {
    flex-grow: 1;
    padding-top: 0;
    margin-top: var(--pico-spacing);
    margin-bottom: calc(2 * var(--pico-spacing));
}

a:not(header h1 a) > svg {
    display: inline-block;
    width: 1em;
    height: 1em;
    transform: translateY(-0.14em);
}

img, svg {
    pointer-events: none;
}

body > ul > li:nth-child(2) > button {
    --counter-content: "";
    --counter-visibility: hidden;
    --counter-animation: bubble-appear 0.5s ease-in-out forwards;
    position: relative;
}

body > ul > li:nth-child(2) > button::after {
    content: var(--counter-content);
    visibility: var(--counter-visibility);
    animation: var(--counter-animation);
    position: absolute;
    font-size: small;
    font-weight: bold;
    background-color: var(--pico-form-element-invalid-active-border-color);
    border: 0.1rem solid color-mix(in srgb, var(--pico-form-element-invalid-active-border-color) 80%, var(--pico-contrast));
    padding: 0 0.2rem;
    border-radius: 1rem;
    top: 0.3rem;
    right: 0.3rem;
    min-width: 1rem;
    text-align: center;
    white-space: nowrap;
}

@keyframes bubble-appear {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

body > ul {
    position: fixed;
    top: 10rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    z-index: 1;
}

body > ul > li > button {
    padding: 0.5rem;
    font-size: 2rem;
}

body > footer > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body > footer > ul > li:first-of-type {
    order: -1;
}

body > footer > ul > li:last-child {
    text-align: center;
    flex-basis: 100%;
}

body > footer > ul::before {
    content: "\2013";
    margin: 0 var(--spacing-small);
}

dialog legend {
    font-weight: bold !important;
    margin-bottom: var(--pico-spacing);
}

dialog label {
    margin-bottom: var(--pico-spacing);
}

dialog:nth-last-of-type(2) > article > label {
    width: fit-content;
    margin-left: auto;
}

dialog:nth-last-of-type(2) > article > label > input {
    margin-inline-start: 0.2em;
    margin-inline-end: 0.2em;
}

dialog:nth-last-of-type(2) > article > p {
    margin: 2rem;
    text-align: center;
    color: var(--pico-muted-color);
}

dialog:nth-last-of-type(2) > article > ul > li {
    display: grid;
    grid-template-columns: auto min-content min-content;
    grid-template-rows: max-content auto max-content;
    grid-gap: var(--spacing-small);
    background: var(--pico-background-color);
    border-radius: var(--pico-border-radius);
    padding: var(--pico-spacing);
    transition: filter 0.1s ease-in;
    margin-bottom: var(--pico-spacing);
}

dialog:nth-last-of-type(2) > article > ul > li * {
    margin-bottom: 0;
}

dialog:nth-last-of-type(2) > article > ul > li > button, dialog:nth-last-of-type(2) > article > ul > li > form > button  {
    width: 2rem;
    height: 2rem;
    padding: 0;
}

dialog:nth-last-of-type(2) > article > ul > li > button > svg, dialog:nth-last-of-type(2) > article > ul > li > form > button > svg {
    margin: auto;
}

dialog:nth-last-of-type(2) > article > ul > li > form {
    grid-row: 1;
    grid-column: 2;
}

dialog:nth-last-of-type(2) > article > ul > li > button:last-of-type {
    grid-row: 1;
    grid-column: 3;
}

dialog:nth-last-of-type(2) > article > ul > li > h3 {
    grid-row: 1;
    grid-column: 1;
    font-size: 120%;
    padding-top: 0.2rem;
}

dialog:nth-last-of-type(2) > article > ul > li > p:first-of-type {
    grid-row: 2;
    grid-column: 1 / 4;
}

dialog:nth-last-of-type(2) > article > ul > li > p:last-of-type {
    grid-row: 3;
    grid-column: 1 / 4;
    text-align: right;
    font-size: 87.5%;
}
