:root {
    --thumbnail-size: 14.2rem;
    --spacing-vertical-small: 0.4rem;
    --radio-spacing: 0.5rem;
}

section:last-child {
    margin-bottom: 0;
}

main > section {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, calc(var(--thumbnail-size) + 2 * var(--pico-block-spacing-horizontal)));
    gap: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
}

article {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

article section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article section:nth-child(1) {
    width: var(--thumbnail-size);
    height: var(--thumbnail-size);
    border-radius: var(--pico-border-radius);
    overflow: hidden;
}

section svg {
    width: 6rem;
    color: var(--pico-muted-color);
    margin-bottom: var(--spacing-vertical-small);
}

article section:nth-child(1) span {
    color: var(--pico-muted-color);
}

article section:nth-child(2):not(:last-child) {
    display: grid;
    grid-auto-flow: column;
    gap: var(--radio-spacing);
    padding: 0.125em;
    mask-image: linear-gradient(to right, #0000 0%, #000F 25%, #000F 75%, #0000 100%);
    -webkit-mask-image: linear-gradient(to right, #0000 0%, #000F 25%, #000F 75%, #0000 100%);
    margin-bottom: var(--spacing-vertical-small);
}

article section:last-child {
    flex: 1;
}

[type="radio"] {
    --radio-color: attr(data-color color);
    --pico-primary-border: var(--radio-color);
    background-color: color-mix(in oklab, var(--radio-color) 90%, #000);
    margin: 0;
    transition: transform 0.3s ease;
}

[type="radio"]:not(:hover) {
    --pico-box-shadow: none !important;
}

[type="radio"]:hover {
    --pico-box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-form-element-focus-color);
}
