:root {
   --thumbnail-size: 15rem;
}

section:last-child {
    margin-bottom: 0;
}

main > section {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, calc(var(--thumbnail-size) + 2 * var(--pico-block-spacing-horizontal)));
    gap: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
}

main > section > article {
    margin-bottom: 0;
}

article {
    text-align: center;
}

article section:nth-child(1) {
    width: var(--thumbnail-size);
    height: var(--thumbnail-size);
    border-radius: var(--pico-border-radius);
    overflow: hidden;
    align-content: center;
}

article section:nth-child(2) p {
    margin-bottom: 0;
}

section svg {
    width: 6rem;
    color: var(--pico-muted-color);
}

article section:nth-child(1) p {
    color: var(--pico-muted-color);
}
