:root {
    --thumbnail-size: 14.2rem;
    --radio-spacing: 0.5rem;
}

main > ul {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, calc(var(--thumbnail-size) + 2 * var(--pico-spacing)));
    gap: var(--pico-spacing);
}

main > ul > li {
    display: flex;
    height: 22rem;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: var(--pico-spacing) var(--pico-spacing);
    border-radius: var(--pico-border-radius);
    background: var(--pico-card-background-color);
    box-shadow: var(--pico-card-box-shadow);
    transition: box-shadow var(--pico-transition);
    user-select: none;
}

main > ul > li p {
    margin-bottom: 0;
}

main > ul > li:where(:hover, :focus-visible):not([data-hover-disabled]) {
    box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-primary-focus);
    outline: none;
}

main > ul > li > :first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--thumbnail-size);
    height: var(--thumbnail-size);
    border-radius: var(--pico-border-radius);
    overflow: hidden;
    margin-bottom: var(--pico-spacing);
}

main > ul > li > figure > svg {
    width: 6rem;
    height: 6rem;
    color: var(--pico-muted-color);
    margin-bottom: var(--spacing-small);
}

main > ul > li > figure > figcaption {
    color: var(--pico-muted-color);
    padding: 0;
}

main > ul > li > fieldset {
    min-inline-size: unset;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--radio-spacing);
    overflow-x: scroll;
    padding: 0.125em calc(50% - 2.5 * 1.25rem - 2 * var(--radio-spacing));
    mask-image: linear-gradient(to right, #0000 0%, #000F 25%, #000F 75%, #0000 100%);
    -webkit-mask-image: linear-gradient(to right, #0000 0%, #000F 25%, #000F 75%, #0000 100%);
    margin-bottom: var(--spacing-small);
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge 😊 */
    scrollbar-width: none; /* Hide scrollbar for Firefox 😊 */
}

main > ul > li > fieldset::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera 😊 god I love CSS */
}

main > ul > li > p:last-child {
    font-size: 87.5%;
}

main > ul > li > :nth-last-child(2) {
    margin-top: auto;
}

main > ul > li > :last-child {
    margin-bottom: auto;
}

[type="radio"] {
    --radio-color: attr(data-color color);
    --pico-primary-border: var(--radio-color);
    outline: 0.05rem solid var(--pico-muted-color);
    outline-offset: -0.05rem;
    flex: 0 0 auto;
    background-color: color-mix(in oklab, var(--radio-color) 90%, black);
    margin: 0;
}

[type="radio"]:first-child {
    margin-left: auto;
}

[type="radio"]:last-child {
    margin-right: auto;
}

[type="radio"]:not(:where(:hover, :focus-visible)) {
    --pico-box-shadow: none !important;
}

[type="radio"]:where(:hover, :focus-visible) {
    --pico-box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-form-element-focus-color);
}

main > fieldset {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: var(--pico-spacing);
    align-items: end;
    margin-bottom: calc(2 * var(--pico-spacing));
}

main > fieldset * {
    margin: 0 !important;
}

main > fieldset select {
    margin-top: calc(var(--pico-spacing)* .375) !important;
}
