:root {
    --thumbnail-size: 10rem;
}

main > div {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content auto max-content max-content;
    grid-template-rows: max-content 1fr max-content;
    padding: var(--pico-spacing);
    border-radius: var(--pico-border-radius);
    background: var(--pico-card-background-color);
    box-shadow: var(--pico-card-box-shadow);
    margin-bottom: var(--pico-spacing);
    --initial-height: calc(2 * var(--pico-spacing) + var(--thumbnail-size));
    max-height: var(--initial-height);
}

main > div > :first-child {
    width: var(--thumbnail-size);
    height: var(--thumbnail-size);
    border-radius: var(--pico-border-radius);
    overflow: hidden;
    margin-bottom: 0;
    margin-right: 2rem;
    grid-row: 1 / -1;
    grid-column: 1;
}

main > div > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > div > div:first-child > svg {
    width: 5rem;
    height: 5rem;
    color: var(--pico-muted-color);
    margin-bottom: var(--spacing-small);
}

main > div > div:first-child > p {
    color: var(--pico-muted-color);
}

main > div p, main > div a {
    margin-bottom: 0;
    width: fit-content;
    height: fit-content;
}

main > div > a {
    font-weight: bold;
    grid-row: 1;
    grid-column: 2;
    color: var(--pico-primary-inverted);
}

main > div > p:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
}

main > div > button {
    grid-row: 3;
    grid-column: 3;
    margin-right: var(--pico-spacing);
}

[role="group"] {
    grid-row: 3;
    grid-column: 4;
    float: left;
    width: fit-content;
    margin-bottom: 0;
}

main > div > button, main > div > [role="group"] > button {
    padding: 0;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

[role="group"] input {
    padding: 0;
    width: 2.4rem;
    height: 2rem;
    text-align: center;
}

main > div > p:nth-last-of-type(2) {
    grid-row: 1;
    grid-column: 3 / 5;
    justify-self: right;
    font-size: 140%;
}

main > div > p:nth-last-of-type(1) {
    grid-row: 2;
    grid-column: 3 / 5;
    justify-self: right;
    color: var(--pico-muted-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

@keyframes product-remove {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    25% {
        transform: translateX(-1rem);
    }
    50% {
        transform: translateX(5rem);
        opacity: 0;
        max-height: var(--initial-height);
        margin-bottom: var(--pico-spacing);
        padding: var(--pico-spacing);
    }
    100% {
        transform: translateX(5rem);
        opacity: 0;
        max-height: 0;
        margin-bottom: 0;
        padding: 0;
    }
}
