form {
    margin: auto;
    background: var(--pico-card-background-color);
    border-radius: var(--pico-border-radius);
    padding: 1rem;
    max-width: 30rem;
    height: max-content;
}

form fieldset label {
    position: relative;
}

form fieldset label small {
    width: fit-content;
    position: absolute;
    top: calc(100% - 0.6rem);
    right: 0;
    color: var(--pico-del-color) !important;
    margin: 0 !important;
}

form fieldset label small span {
    border: var(--pico-border-width) solid var(--pico-del-color);
    border-radius: var(--pico-border-radius);
    padding: 0.2em;
}

form p {
    margin-top: 1.2rem;
    text-align: center;
}

form fieldset > input {
    margin-bottom: 0 !important;
}
