form {
    margin: auto;
    background: var(--pico-card-background-color);
    border-radius: var(--pico-border-radius);
    padding: 1rem;
    width: 30rem;
    height: max-content;
}

form fieldset > input {
    margin-bottom: 0 !important;
}

form p {
    text-align: center;
}

small {
    color: var(--pico-form-element-invalid-border-color);
    float: right;
}
