:root {
    --thumbnail-size: 30rem;
    --spacing-small: 0.4rem;
    --radio-spacing: 0.5rem;
}

main > section > :first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--thumbnail-size);
    height: var(--thumbnail-size);
    border-radius: var(--pico-border-radius);
    overflow: hidden;
    margin-bottom: var(--pico-spacing);
}

main > section > div:first-child > svg {
    width: 6rem;
    height: 6rem;
    color: var(--pico-muted-color);
    margin-bottom: var(--spacing-small);
}

main > section > div:first-child > p {
    color: var(--pico-muted-color);
    margin-bottom: 0;
}

main > section > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: var(--radio-spacing);
    padding: 0.125em;
    margin-bottom: var(--spacing-small);
}

[type="radio"] {
    --radio-color: attr(data-color color);
    --pico-primary-border: var(--radio-color);
    outline: 0.05rem solid var(--pico-muted-color);
    outline-offset: -0.05rem;
    flex: 0 0 auto;
    background-color: color-mix(in oklab, var(--radio-color) 90%, #000);
    margin: 0;
}

[type="radio"]:not(:where(:hover, :focus, :focus-visible)) {
    --pico-box-shadow: none !important;
}

[type="radio"]:where(:hover, :focus, :focus-visible) {
    --pico-box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-form-element-focus-color);
}
