:root {
    --thumbnail-size: 14rem;
}

main > section > ul {
    display: flex;
    flex-direction: column;
    gap: var(--pico-spacing);
}

main > section > ul > li {
    display: flex;
    flex-wrap: wrap;
    gap: var(--pico-spacing);
    cursor: pointer;
    padding: var(--pico-spacing) var(--pico-spacing);
    border-radius: var(--pico-border-radius);
    background: var(--pico-card-background-color);
    box-shadow: var(--pico-card-box-shadow);
    transition: box-shadow var(--pico-transition);
    user-select: none;
}

main > section > ul > li:where(:hover, :focus-visible):not([data-hover-disabled]) {
    box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-primary-focus);
    outline: none;
}

main > section > ul > li > p:first-child {
    flex-basis: 100%;
    margin-bottom: 0;
    font-size: 120%;
    font-weight: bold;
}

main > section > ul > li > p:last-child {
    flex-basis: 100%;
    margin-bottom: 0;
}

main > section > ul > li > :not(p) {
    grid-row: 2;
    width: var(--thumbnail-size);
    height: var(--thumbnail-size);
    border-radius: var(--pico-border-radius);
    overflow: hidden;
}

main > section > ul > li > figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > section > ul > li > figure > svg {
    width: 6rem;
    height: 6rem;
    color: var(--pico-muted-color);
    margin-bottom: var(--spacing-small);
}

main > section > ul > li > figure > figcaption {
    font-size: 87.5%;
    color: var(--pico-muted-color);
    padding: 0;
}
